# Dependencias
node_modules/

# Variables de entorno
.env

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Build
dist/
build/

# Scripts temporales
*.ps1

# Carpeta temporal de entrega
entrega_repo_gestion_porcina/

# Archivos comprimidos de entrega
*.zip
*.rar
